<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.HuiShengTec.app.dao.IThreeSubjectDao">

	<select id="querySceneMark" parameterType="map" resultType="map">
		<![CDATA[
	   		SELECT s.* FROM (SELECT lng,lat,sceneId ,ROUND(6378.138*2*ASIN(SQRT(POW(SIN( 
					(lat*PI()/180-#{lat}*PI()/180)/2),2)+COS(lat*PI()/180)*COS(#{lat}*PI()/180)*
					 POW(SIN( (lng*PI()/180-#{lng}*PI()/180)/2),2)))*1000)  issue 
	   		FROM  `mapmark` t ) h LEFT JOIN `scene` s ON s.`id`= h.sceneId WHERE  issue<15
	   ]]>
	</select>
	
</mapper>