<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.HuiShengTec.app.dao.IWebPropertiesDao">

		<!-- 查询所有网站信息数据 -->
	<select id="queryWebProp" parameterType="com.HuiShengTec.base.entity.PageBean" resultType="BasicProperty">
	select 
		*
	from
	BasicProperty
	where Type=0
	</select>
	
	<select id="queryWebPropertiesByKeys" resultType="BasicProperty">
		select * from BasicProperty where `Key` in 
		<foreach collection="array" index="index" item="item" open="(" separator="," close=")">  
	            #{item}   
	    </foreach>
		
	</select>

	<!-- 更新数据前先校验 -->
	<select id="validateKey" parameterType="com.HuiShengTec.entity.BasicProperty" resultType="Integer">
		select count(*) from BasicProperty where `key`=#{key} and id &lt;&gt; #{id}
	</select>
	<!-- 修改网站信息 -->
	<update id="updateWebPropInfo" parameterType="BasicProperty">
	update BasicProperty set value=#{value} where `key`=#{key}
	
	</update>
	
  </mapper>