<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.HuiShengTec.app.dao.IWeekPriceDao">
	<select id="queryWeekPrice" resultType="WeekPrice">
		SELECT
		  * 
		FROM
		  WeekPrice
	</select>
	
	
	
	<update id="updateWeekPrice" parameterType="java.util.Map">
		update WeekPrice set pricePlus=#{pricePlus} where id=#{id}
	</update>
</mapper>