<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.HuiShengTec.app.dao.IExceptionLogDao">
	
	<insert id="saveException" parameterType="com.HuiShengTec.entity.ExceptionLog">
		insert into ExceptionLog(exceptionTitle,exceptionContent,exceptionTime,userName,userFlag)
		values(#{exceptionTitle},#{exceptionContent},sysdate(),#{userName},#{userFlag})
	</insert>
	
	<select id="queryExceptionLogPage" parameterType="com.HuiShengTec.base.entity.PageBean" resultType="ExceptionLog">
		select id,exceptionTitle,exceptionTime,userName,userFlag from ExceptionLog where 1=1 
		<if test="conditions.beginDate!=null"> and date(exceptionTime) >= #{conditions.beginDate}</if>
		<if test="conditions.endDate!=null"><![CDATA[ and date(exceptionTime) <= #{conditions.endDate}]]></if>
		order by exceptionTime desc
	</select>
	
	<select id="queryExceptionLogById" parameterType="java.lang.Integer" resultType="ExceptionLog">
		select * from ExceptionLog where id = #{id}
	</select>
	
	
	<delete id="delExceptionLog">
		delete from ExceptionLog 
		<if test="array!=null">
			<foreach collection="array" close=")" open="where id  in (" item="item" separator=",">
				#{item}
			</foreach>
		</if>
	</delete>
	
</mapper>