<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.HuiShengTec.app.dao.ISceneDao">
	
	<select id="getAllScenes" resultType="map" >
		select * from scene 
	</select>
	
	<select id="querySceneById" resultType="Scene" parameterType="java.lang.Integer">
		select * from scene where id=#{scencId}
	</select>
	
	<select id="queryIdByTitle" resultType="Scene" >
		select * from scene where title LIKE CONCAT("%", #{keyWord}, "%")
	</select>
	
</mapper>